<div class="container-fluid" id="main-header">
    <div class="row align-items-center" id="header_row">
        <div class="col-4 text-center main-navigation-container">
            <a href="" class="main-navigation-item">Home</a>
        </div>
        <div class="col-4 text-center main-navigation-container">
            <a href="" class="main-navigation-item">Shopping</a>
        </div>
        <div class="col-4 text-center main-navigation-container">
            <a href="" class="main-navigation-item">Recipes</a>
        </div>
    </div>
</div>