#header_row{
    border: 1px dashed hotpink;
    height: 10vh;
}
.main-navigation-item
{
    color: #cc0066;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    height: 80%;
}